<div class="fields">
  <%= f.association :actor, :include_blank => false %>
  <%= f.association :involve, :include_blank => false %>
  <div class="controls">
    <%= link_to_remove_fields "remove", f %>
  </div>
</div>